In [25]:
from datetime import datetime, timedelta

start_date_1 = datetime(2000, 1, 1)
end_date_1 = datetime(2009, 12, 31)
start_date = datetime(2010, 1, 1)
end_date  = datetime(2023, 12, 31)

seasons = []
while start_date_1 <= end_date_1:
    year = start_date_1.strftime("%Y")
    short_year = str(int(start_date_1.strftime("%y")) + 1)
    year_format = year + "-" +"0"+short_year
    seasons.append(year_format)
    start_date_1 += timedelta(days=365)

while start_date <= end_date:
    year =start_date.strftime("%Y")
    short_year = str(int(start_date.strftime("%y")) + 1)
    year_format = year + "-" +short_year
    seasons.append(year_format)
    start_date += timedelta(days=365)

print(seasons)

['2000-01', '2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08', '2008-09', '2009-010', '2010-11', '2011-12', '2012-13', '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23', '2023-24']

In [28]:
del seasons[1]
seasons

['2000-01',
 '2001-02',
 '2002-03',
 '2003-04',
 '2004-05',
 '2005-06',
 '2006-07',
 '2007-08',
 '2008-09',
 '2009-010',
 '2010-11',
 '2011-12',
 '2012-13',
 '2012-13',
 '2013-14',
 '2014-15',
 '2015-16',
 '2016-17',
 '2017-18',
 '2018-19',
 '2019-20',
 '2020-21',
 '2021-22',
 '2022-23',
 '2023-24']

In [ ]:
seasons[9] = '2009-10'
seasons

In [33]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [34]:
stars_url ="https://www.nba.com/stats/players/traditional?Season={}"

In [ ]:
from selenium import webdriver
import time
season = '2020-21'
url = stars_url.format(season)
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)
html = driver.page_source

with open("nba_stars/{}.html".format(season), "w+", encoding= 'utf-8') as f:
    f.write(html)

In [ ]:
html

In [11]:
with open("nba_stars/2020-21.html") as f:
    page = f.read()

soup = BeautifulSoup(page, "lxml" )
table = soup.find_all(class_= "Crom_base__f0niE")

In [54]:
stand = pd.read_html(StringIO(str(table)), encoding='utf-8')
stand = stand[0]
stand

,Unnamed: 0,Player,Team,Age,GP,W,L,Min,PTS,FGM,...,REB RANK,AST RANK,TOV RANK,STL RANK,BLK RANK,PF RANK,FP RANK,DD2 RANK,TD3 RANK,+/- RANK
0,1,Stephen Curry,GSW,33,63,37,26,34.2,32.0,10.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Bradley Beal,WAS,28,60,32,28,35.8,31.3,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Damian Lillard,POR,30,67,39,28,35.8,28.8,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Joel Embiid,PHI,27,51,39,12,31.1,28.5,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Giannis Antetokounmpo,MIL,26,61,40,21,33.0,28.1,10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,536,Anzejs Pasecniks,WAS,25,1,1,0,6.3,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,536,Ashton Hagans,MIN,21,2,0,2,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537,536,Greg Whittington,DEN,28,4,3,1,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,536,Noah Vonleh,BKN,25,4,3,1,2.7,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,536,Will Magnay,NOP,23,1,1,0,3.3,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
columns = stand.columns
stand.columns = [c.lower() for c in stand.columns]
stand

,unnamed: 0,player,team,age,gp,w,l,min,pts,fgm,...,reb rank,ast rank,tov rank,stl rank,blk rank,pf rank,fp rank,dd2 rank,td3 rank,+/- rank
0,1,Stephen Curry,GSW,33,63,37,26,34.2,32.0,10.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Bradley Beal,WAS,28,60,32,28,35.8,31.3,11.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Damian Lillard,POR,30,67,39,28,35.8,28.8,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Joel Embiid,PHI,27,51,39,12,31.1,28.5,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Giannis Antetokounmpo,MIL,26,61,40,21,33.0,28.1,10.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,536,Anzejs Pasecniks,WAS,25,1,1,0,6.3,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,536,Ashton Hagans,MIN,21,2,0,2,2.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
537,536,Greg Whittington,DEN,28,4,3,1,3.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,536,Noah Vonleh,BKN,25,4,3,1,2.7,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,536,Will Magnay,NOP,23,1,1,0,3.3,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
import os

def check_folder_in_jupyter(folder_name):
    current_path = os.getcwd()
    for root, dirs, files in os.walk(current_path):
        if folder_name in dirs:
            return True
    return False



def check_file_in_folder(folder_path, file_name):
    for root, dirs, files in os.walk(folder_path):
        if file_name in files:
            return True
    return False

In [113]:
#pull the Table for other seasons

for season in seasons:
    if check_file_in_folder("nba_stars", "{}.html".format(season)) is False:
        url = stars_url.format(season)
        driver = webdriver.Chrome()
        driver.get(url)
        time.sleep(3)
        html = driver.page_source
        
        with open("nba_stars/{}.html".format(season), "w+", encoding= 'utf-8') as f:
            f.write(html)

In [130]:
dfs =[]
for season in seasons:
    with open("nba_stars/{}.html".format(season)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    stars_tables = soup.select ('table', class_ = "Crom_base__f0niE")
    stars = pd.read_html(StringIO(str(stars_tables)), encoding= 'utf-8')[-1]
    
    s = str(season).split("-")[1]
    s_1 = str(season).split("-")[0][:2]
    stars["year"] = s_1 + s

    stars.columns = [c.lower() for c in stars.columns]
    stars.columns

    #stars = stars[["player", "team", "year", "age","gp","min", "w", "l", "pts", "3pm", "ast","fgm", "fga", "ftm" ]]
    dfs.append(stars)

In [ ]:
df = pd.concat(dfs)
df = df[["player", "team", "year", "age","gp","min", "w", "l", "pts", "3pm", "ast","fgm", "fga", "ftm" ]]

In [137]:
df.to_csv("nba_players.csv", index= False)

In [ ]:
season = '2001-02'
with open("nba_stars/{}.html".format(season)) as f:
        page = f.read()
    
soup = BeautifulSoup(page, 'html.parser')
stars_tables = soup.select ('table', class_ = "Crom_base__f0niE")
stars = pd.read_html(StringIO(str(stars_tables)), encoding= 'utf-8')[-1]
stars

Downloading Team Stats

In [43]:
team_url = "https://www.nba.com/stats/teams/traditional?Season={}"

In [44]:
for season in seasons:
    if check_file_in_folder("nba_teams", "{}.html".format(season)) is False:
        url = team_url.format(season)
        driver = webdriver.Chrome()
        driver.get(url)
        time.sleep(3)
        html = driver.page_source
        
        with open("nba_teams/{}.html".format(season), "w+", encoding= 'utf-8') as f:
            f.write(html)

In [ ]:
season = '2001-02'
with open("nba_teams/{}.html".format(season)) as f:
        page = f.read()
    
soup = BeautifulSoup(page, 'html.parser')
stars_tables = soup.select ('table', class_ = "Crom_base__f0niE")
stars = pd.read_html(StringIO(str(stars_tables)), encoding= 'utf-8')[-1]
stars

In [144]:
dfs =[]
for season in seasons:
    with open("nba_teams/{}.html".format(season)) as f:
        page = f.read()
    
    soup = BeautifulSoup(page, 'html.parser')
    teams_table= soup.select ('table', class_ = "Crom_base__f0niE")
    teams = pd.read_html(StringIO(str(teams_table)), encoding= 'utf-8')[-1]
    
    s = str(season).split("-")[1]
    s_1 = str(season).split("-")[0][:2]
    teams["year"] = s_1 + s

    teams.columns = [c.lower() for c in teams.columns]
    teams.columns

    #teams = teams[[team", "year", "age","gp","min", "w", "l", "pts", "3pm", "ast","fgm", "fga", "ftm" ]]
    dfs.append(teams)

In [148]:
df = pd.concat(dfs)
df = df[["team", "year","gp", "w", "l","win%","pts", "3pm", "ast","fgm", "fga", "ftm" ]]
df

,team,year,gp,w,l,win%,pts,3pm,ast,fgm,fga,ftm
0,San Antonio Spurs,2001,82,58,24,0.707,96.2,5.4,21.7,35.2,76.4,20.4
1,Los Angeles Lakers,2001,82,56,26,0.683,100.6,5.4,23.0,37.9,81.5,19.4
2,Philadelphia 76ers,2001,82,56,26,0.683,94.7,3.2,20.6,35.4,79.1,20.7
3,Sacramento Kings,2001,82,55,27,0.671,101.7,5.8,22.6,38.2,85.0,19.5
4,Dallas Mavericks,2001,82,53,29,0.646,100.5,6.3,21.2,37.6,81.9,18.9
...,...,...,...,...,...,...,...,...,...,...,...,...
25,Portland Trail Blazers,2024,48,15,33,0.313,108.5,12.1,22.7,39.6,90.0,17.3
26,Charlotte Hornets,2024,47,10,37,0.213,108.5,12.0,24.9,40.8,89.0,15.0
27,San Antonio Spurs,2024,49,10,39,0.204,112.6,12.5,29.5,42.1,91.1,15.8
28,Washington Wizards,2024,48,9,39,0.188,114.8,11.9,27.9,43.2,90.9,16.4
29,Detroit Pistons,2024,48,6,42,0.125,112.9,11.1,26.4,42.2,89.0,17.4

In [149]:
df.to_csv("nba_teams.csv", index =False)