In [ ]:
years = list(range(1992,2023))
years

In [2]:
url_str = "https://www.basketball-reference.com/awards/awards_{}.html"

In [ ]:
import requests
for year in years:
    url = url_str.format(year)
    data = requests.get(url)

    with open("mvps/{}.html".format(year), "w+", encoding='utf-8') as f:
        f.write(data.text)

In [4]:
from bs4 import BeautifulSoup

In [5]:
with open("mvps/1992.html",encoding='utf-8') as f:
    page = f.read()

In [6]:
soup = BeautifulSoup(page, "lxml")
soup.find("tr", class_="over_header").decompose()

In [7]:
mvp_table = soup.select("table", class_ = "sortable stats_table")

In [ ]:
mvp_table[0]

In [17]:
import pandas as pd 
#the string function of the read_html is deprecated and needs StringIO
from io import StringIO

mvp_fr = pd.read_html(StringIO(str(mvp_table)),encoding='utf-8')[0]
mvp_fr["Year"] = years[1]
mvp_fr

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,28,CHI,80.0,900.0,960,0.938,80,38.8,...,6.4,6.1,2.3,0.9,0.519,0.270,0.832,17.7,0.274,1992
1,2,Clyde Drexler,29,POR,12.0,561.0,960,0.584,76,36.2,...,6.6,6.7,1.8,0.9,0.470,0.337,0.794,12.8,0.223,1992
2,3,David Robinson,26,SAS,2.0,337.0,960,0.351,68,37.7,...,12.2,2.7,2.3,4.5,0.551,0.125,0.701,13.9,0.260,1992
3,4,Karl Malone,28,UTA,1.0,262.0,960,0.273,81,37.7,...,11.2,3.0,1.3,0.6,0.526,0.176,0.778,15.1,0.237,1992
4,5,Patrick Ewing,29,NYK,0.0,100.0,960,0.104,82,38.4,...,11.2,1.9,1.1,3.0,0.522,0.167,0.738,13.0,0.198,1992
5,6,Chris Mullin,28,GSW,0.0,81.0,960,0.084,81,41.3,...,5.6,3.5,2.1,0.8,0.524,0.366,0.833,10.8,0.155,1992
6,7,Mark Price,27,CLE,0.0,66.0,960,0.069,72,29.7,...,2.4,7.4,1.3,0.2,0.488,0.387,0.947,9.1,0.205,1992
7,8,Tim Hardaway,25,GSW,0.0,64.0,960,0.067,81,41.1,...,3.8,10.0,2.0,0.2,0.461,0.338,0.766,9.2,0.132,1992
8,9,Scottie Pippen,26,CHI,1.0,32.0,960,0.033,82,38.6,...,7.7,7.0,1.9,1.1,0.506,0.200,0.760,12.7,0.192,1992
9,10,Dennis Rodman,30,DET,0.0,26.0,960,0.027,82,40.3,...,18.7,2.3,0.8,0.9,0.539,0.317,0.600,12.6,0.183,1992
10,11,Brad Daugherty,26,CLE,0.0,24.0,960,0.025,73,36.2,...,10.4,3.6,0.9,1.1,0.570,0.000,0.777,11.7,0.213,1992
11,12T,Charles Barkley,28,PHI,0.0,18.0,960,0.019,75,38.4,...,11.1,4.1,1.8,0.6,0.552,0.234,0.695,12.3,0.205,1992
12,12T,John Stockton,29,UTA,0.0,18.0,960,0.019,82,36.6,...,3.3,13.7,3.0,0.3,0.482,0.407,0.842,13.4,0.215,1992
13,14,Larry Bird,35,BOS,0.0,3.0,960,0.003,45,36.9,...,9.6,6.8,0.9,0.7,0.466,0.406,0.926,5.5,0.159,1992
14,15,Kevin Johnson,25,PHO,0.0,2.0,960,0.002,78,37.2,...,3.7,10.7,1.5,0.3,0.479,0.217,0.807,10.0,0.165,1992
15,16T,Danny Manning,25,LAC,0.0,1.0,960,0.001,82,35.4,...,6.9,3.5,1.6,1.5,0.542,0.000,0.725,9.8,0.162,1992
16,16T,Detlef Schrempf,29,IND,0.0,1.0,960,0.001,80,32.6,...,9.6,3.9,0.8,0.5,0.536,0.324,0.828,9.8,0.181,1992

In [13]:
dfs = []
for year in years:
    with open("mvps/{}.html".format(year),encoding='utf-8') as f:
        page = f.read()
    soup = BeautifulSoup(page, "lxml")
    soup.find("tr", class_="over_header").decompose()
    mvp_table = soup.find_all(id="mvp")

    mvp_stand = pd.read_html(StringIO(str(mvp_table)),encoding='utf-8')[0]
    mvp_stand["Year"] = year

    dfs.append(mvp_stand)

In [10]:
df = pd.concat(dfs)
df

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Michael Jordan,27,CHI,77.0,891.0,960,0.928,82,37.0,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,2,Magic Johnson,31,LAL,10.0,497.0,960,0.518,79,37.1,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,3,David Robinson,25,SAS,6.0,476.0,960,0.496,82,37.7,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,4,Charles Barkley,27,PHI,2.0,222.0,960,0.231,67,37.3,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,5,Karl Malone,27,UTA,0.0,142.0,960,0.148,82,40.3,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,8,Stephen Curry,33,GSW,0.0,4.0,1000,0.004,64,34.5,...,5.2,6.3,1.3,0.4,0.437,0.380,0.923,8.0,0.173,2022
8,9,Chris Paul,36,PHO,0.0,2.0,1000,0.002,65,32.9,...,4.4,10.8,1.9,0.3,0.493,0.317,0.837,9.4,0.210,2022
9,10T,DeMar DeRozan,32,CHI,0.0,1.0,1000,0.001,76,36.1,...,5.2,4.9,0.9,0.3,0.504,0.352,0.877,8.8,0.154,2022
10,10T,Kevin Durant,33,BRK,0.0,1.0,1000,0.001,55,37.2,...,7.4,6.4,0.9,0.9,0.518,0.383,0.910,8.4,0.198,2022
11,10T,LeBron James,37,LAL,0.0,1.0,1000,0.001,56,37.2,...,8.2,6.2,1.3,1.1,0.524,0.359,0.756,7.5,0.172,2022

In [11]:
df.to_csv("mvps_table.csv")

Downloading Players Stat

In [18]:
player_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

In [48]:
#check for files contained in the folders already
import os

def check_folder_in_jupyter_lab(folder_name):
    current_path = os.getcwd()
    for root, dirs, files in os.walk(current_path):
        if folder_name in dirs:
            return True
    return False



def check_file_in_folder(folder_path, file_name):
    for root, dirs, files in os.walk(folder_path):
        if file_name in files:
            return True
    return False

In [ ]:
#The page contains a long table run with JS.
#use selenium to render the full JS table
from selenium import webdriver
import time


for year in years:
    if check_file_in_folder("players", "{}.html".format(year)) is False:
        url = player_url.format(year)
        driver = webdriver.Chrome()
        
        driver.get(url)
        time.sleep(2)
        html = driver.page_source
        
        with open("players/{}.html".format(year), "w+", encoding= 'utf-8') as f:
            f.write(html)

In [66]:
dfs = []
for year in years:
    with open("players/{}.html".format(year),encoding='utf-8') as f:
        page = f.read()
    soup = BeautifulSoup(page, "lxml")
    players_tab =soup.find_all(id = "per_game_stats")
    players_table = pd.read_html(StringIO(str(players_tab)), encoding= 'utf-8')[0]
    players_table["Year"] = year

    dfs.append(players_table)

In [68]:
player_df = pd.concat(dfs)

In [69]:
player_df.to_csv("players.csv", index= False)

In [47]:
year = 1992
with open("players/{}.html".format(year),encoding='utf-8') as f:
        page = f.read()
soup = BeautifulSoup(page, "lxml")
players_tab =soup.find_all(id = "per_game_stats")
players_table = pd.read_html(StringIO(str(players_tab)), encoding= 'utf-8')[0]
players_table["Year"] = year
players_table

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1992
1,2,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1992
2,3,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1992
3,4,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,...,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1992
4,5,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,385,Howard Wright,PF,23,ATL,4,0,5.0,0.5,0.8,...,0.3,1.3,1.5,0.0,0.0,0.0,0.5,0.8,1.3,1992
456,385,Howard Wright,PF,23,ORL,8,0,17.0,1.9,5.1,...,1.3,3.4,4.6,0.4,0.4,0.6,1.1,2.9,5.4,1992
457,385,Howard Wright,PF,23,DAL,3,0,2.7,0.7,1.0,...,0.3,0.3,0.7,0.0,0.3,0.0,0.0,0.7,2.0,1992
458,386,A.J. Wynder,PG,26,BOS,6,0,6.5,0.5,2.0,...,0.2,0.3,0.5,1.3,0.2,0.0,0.7,0.2,2.0,1992
459,387,Danny Young,PG,28,POR,75,1,12.0,1.4,3.6,...,0.3,0.7,1.0,1.9,0.7,0.1,0.7,0.7,3.8,1992

Downloading Team Stats

In [15]:
team_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [37]:
import requests

for year in years:
    url = team_url.format(year)
    data = requests.get(url)
    
    with open("teams/{}.html".format(year), 'w+', encoding='utf-8') as f:
        f.write(data.text)

In [46]:
dfs = []

for year in years:
    with open("teams/{}.html".format(year), encoding='utf-8') as f:
        page = f.read()
    soup = BeautifulSoup(page, 'html.parser')
    soup.find("tr", class_ = "thead").decompose()
    team_tab = soup.find_all(id="divs_standings_E")
    team = pd.read_html(StringIO(str(team_tab)),encoding='utf-8')[0]
    team["Year"] = year
    team["Team"] = team["Eastern Conference"]
    del team["Eastern Conference"]
    dfs.append(team)
    
    
    soup = BeautifulSoup(page, 'html.parser')
    soup.find("tr", class_ = "thead").decompose()
    team_tab = soup.find_all(id="divs_standings_W")
    team = pd.read_html(StringIO(str(team_tab)),encoding='utf-8')[0]
    team["Year"] = year
    team["Team"] = team["Western Conference"]
    del team["Western Conference"]
    dfs.append(team)

In [49]:
df = pd.concat(dfs)

In [50]:
df.shape

(1068, 9)

In [51]:
df

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
0   56  26  .683     —  111.5  105.7   5.22  1991        Boston Celtics*
1   44  38  .537  12.0  105.4  105.6  -0.39  1991    Philadelphia 76ers*
2   39  43  .476  17.0  103.1  103.3  -0.43  1991       New York Knicks*
3   30  52  .366  26.0  101.4  106.4  -4.84  1991     Washington Bullets
4   26  56  .317  30.0  102.9  107.5  -4.53  1991        New Jersey Nets
..  ..  ..   ...   ...    ...    ...    ...   ...                    ...
13  56  26  .683     —  115.6  109.9   5.37  2022     Memphis Grizzlies*
14  52  30  .634   4.0  108.0  104.7   3.12  2022      Dallas Mavericks*
15  36  46  .439  20.0  109.3  110.3  -0.84  2022  New Orleans Pelicans*
16  34  48  .415  22.0  113.2  113.0   0.02  2022      San Antonio Spurs
17  20  62  .244  36.0  109.7  118.2  -8.26  2022        Houston Rockets

[1068 rows x 9 columns]

In [52]:
df.to_csv("teams.csv")